.env
.env.*
!.env.example

node_modules/

backend/uploads/**
!backend/uploads/avatars/.gitkeep
!backend/uploads/attachments/.gitkeep

frontend/dist/
frontend/build/

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea/

coverage/
